<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('../inc/navabar.ejs'); %>
        <h1>Product Page</h1>
        <div id="app"></div>
        <%- include('../inc/scripts.ejs');%>

</body>

</html>